<settings>
    <setting id="Enable.ThumbnailLandscape" type="bool">false</setting>
    <setting id="Enable.BigListLogo" type="bool">false</setting>
    <setting id="Disable.ResumableOverlay" type="bool">false</setting>
    <setting id="Enable.SettingsPanelView" type="bool">false</setting>
    <setting id="centermainmenu" type="bool">false</setting>
    <setting id="Enable.Extra.Fanart" type="bool">false</setting>
    <setting id="Enable.ShiftVidFanart" type="bool">false</setting>
    <setting id="KioskMode.Enabled" type="bool">false</setting>
    <setting id="Disable.BigListView" type="bool">true</setting>
    <setting id="Disable.WidgetLimit" type="bool">false</setting>
    <setting id="Enable.PanelLogo" type="bool">false</setting>
    <setting id="Disable.SongView" type="bool">false</setting>
    <setting id="Enable.ShiftPlot" type="bool">false</setting>
    <setting id="SkinShortcuts-FullMenu" type="bool">true</setting>
    <setting id="weatherfanart.multi" type="bool">false</setting>
    <setting id="disable.fanart" type="bool">false</setting>
    <setting id="skinshortcuts-widget-Addon" type="bool">true</setting>
    <setting id="disable.playercontrolbuttons" type="bool">false</setting>
    <setting id="skinshortcuts-widget-recentlyaddedmovies" type="bool">true</setting>
    <setting id="Enable.FanartLogo" type="bool">false</setting>
    <setting id="show_profilename" type="bool">false</setting>
    <setting id="Enable.SetupSkin2" type="bool">true</setting>
    <setting id="Enable.ShiftDescription" type="bool">false</setting>
    <setting id="show_weatherinfo" type="bool">false</setting>
    <setting id="animated.dialog" type="bool">false</setting>
    <setting id="Enable.SlimList" type="bool">false</setting>
    <setting id="Enable.Landscape.Art" type="bool">false</setting>
    <setting id="Disable.MainQuicknav" type="bool">true</setting>
    <setting id="skinshortcuts-widget-favorites" type="bool">true</setting>
    <setting id="HideVisualizationFanart" type="bool">false</setting>
    <setting id="skinshortcuts-widget-nextepisodes" type="bool">true</setting>
    <setting id="Disable.ShowBackgroundVideo" type="bool">false</setting>
    <setting id="Skin.ToggleDebug" type="bool">false</setting>
    <setting id="Disable.ShiftView" type="bool">true</setting>
    <setting id="touchmode" type="bool">false</setting>
    <setting id="Use_Startup_Playlist" type="bool">true</setting>
    <setting id="touchbuttons" type="bool">false</setting>
    <setting id="Enable.MediaFlags" type="bool">false</setting>
    <setting id="skinshortcuts-widget-videoaddons" type="bool">true</setting>
    <setting id="Disable.AutoScroll" type="bool">false</setting>
    <setting id="Enable.UnwatchedOverlay" type="bool">false</setting>
    <setting id="disablecontext:script.artwork.beef" type="bool">false</setting>
    <setting id="videoosdontop" type="bool">false</setting>
    <setting id="Disable.FanartView" type="bool">false</setting>
    <setting id="Enable.SettingsPanelView" type="bool">false</setting>
    <setting id="SkinHelper.EnableExtendedArt" type="bool">false</setting>
    <setting id="no_slide_animations" type="bool">false</setting>
    <setting id="Disable.PanelView" type="bool">true</setting>
    <setting id="shadow" type="bool">false</setting>
    <setting id="Enable.BigListPoster" type="bool">false</setting>
    <setting id="Enable.PanelFanart" type="bool">false</setting>
    <setting id="Enable.FanartLandscape" type="bool">false</setting>
    <setting id="Enable.HorizontalMenu" type="bool">true</setting>
    <setting id="skinshortcuts-widget-settings" type="bool">false</setting>
    <setting id="smartshortcuts.plex" type="bool">false</setting>
    <setting id="Toggling" type="bool">false</setting>
    <setting id="Disable.InfoWallView" type="bool">false</setting>
    <setting id="smartshortcuts.playlists" type="bool">false</setting>
    <setting id="Disable.EpisodeView" type="bool">false</setting>
    <setting id="SkinHelper.ForcedViews.Enabled" type="bool">false</setting>
    <setting id="Art2Customizer" type="bool">false</setting>
    <setting id="enablecontext:script.artwork.beef.debug" type="bool">false</setting>
    <setting id="PictureInfo.Disabled" type="bool">false</setting>
    <setting id="show_profileavatar" type="bool">false</setting>
    <setting id="SkinHelper.EnableExtraPoster" type="bool">false</setting>
    <setting id="skinshortcuts-widget-myplaylists" type="bool">false</setting>
    <setting id="Enable.ShiftFanart" type="bool">false</setting>
    <setting id="Disable.ShiftView" type="bool">false</setting>
    <setting id="Enable.BigListFanart" type="bool">false</setting>
    <setting id="Disable.Quicknav" type="bool">true</setting>
    <setting id="InfoWall.Logo" type="bool">false</setting>
    <setting id="Enable.WideList" type="bool">false</setting>
    <setting id="SkinHelper.EnablePVRThumbs" type="bool">false</setting>
    <setting id="vavoo.showerotic" type="bool">false</setting>
    <setting id="Disable.WallView" type="bool">false</setting>
    <setting id="no_fanart" type="bool">false</setting>
    <setting id="SkinHelper.EnableMusicArt" type="bool">false</setting>
    <setting id="Enable.WallLandscape" type="bool">false</setting>
    <setting id="Disable.LowPanelView" type="bool">true</setting>
    <setting id="VideoInfoPlotToggle" type="bool">false</setting>
    <setting id="Enable.WallLogo" type="bool">false</setting>
    <setting id="smartshortcuts.favorites" type="bool">false</setting>
    <setting id="smartshortcuts.emby" type="bool">false</setting>
    <setting id="Enable.FanartFanart" type="bool">false</setting>
    <setting id="skinshortcuts-widget-recentlyaddedmusicvideos" type="bool">true</setting>
    <setting id="Disable.LowListView" type="bool">true</setting>
    <setting id="Disable.NextAired" type="bool">false</setting>
    <setting id="Disable.LowPanelView" type="bool">false</setting>
    <setting id="Enable.ThumbnailFanart" type="bool">false</setting>
    <setting id="skinshortcuts-widget-favgames" type="bool">true</setting>
    <setting id="Enable.BigListPoster" type="bool">false</setting>
    <setting id="Enable.VizInfo" type="bool">false</setting>
    <setting id="enable.vizpersistent" type="bool">false</setting>
    <setting id="Disable.ShowBackgroundVis" type="bool">false</setting>
    <setting id="Disable.IconView" type="bool">true</setting>
    <setting id="skinshortcuts-widget-weather" type="bool">false</setting>
    <setting id="videoosdhideinfo" type="bool">false</setting>
    <setting id="SkinHelper.EnableExtraFanart" type="bool">false</setting>
    <setting id="kioskmode" type="bool">false</setting>
    <setting id="skinhelper.enablewallbackgrounds" type="bool">false</setting>
    <setting id="Enable.ShiftLandscape" type="bool">false</setting>
    <setting id="Enable.ThumbnailLogo" type="bool">false</setting>
    <setting id="Enable.2ColumnList" type="bool">false</setting>
    <setting id="Enable.IconLandscape" type="bool">false</setting>
    <setting id="BigAssLabel" type="bool">false</setting>
    <setting id="skinshortcuts-widget-recentalbums" type="bool">true</setting>
    <setting id="Disable.WatchedOverlay" type="bool">false</setting>
    <setting id="Enable.CombineMenus" type="bool">false</setting>
    <setting id="SkinHelper.EnableAnimatedPosters" type="bool">false</setting>
    <setting id="SkinHelper.EnableDayNightThemes" type="bool">false</setting>
    <setting id="Disable.ThumbnailView" type="bool">false</setting>
    <setting id="Disable.GalleryView" type="bool">true</setting>
    <setting id="Enable.IconLogo" type="bool">false</setting>
    <setting id="Enable.IconBanner" type="bool">false</setting>
    <setting id="InfoWall.Banners" type="bool">false</setting>
    <setting id="Disable.AnimateFanart" type="bool">false</setting>
    <setting id="tmdbvideo" type="bool">false</setting>
    <setting id="skinshortcuts-widget-recentchannels" type="bool">true</setting>
    <setting id="Contexting" type="bool">false</setting>
    <setting id="Enable.BigListThumb" type="bool">false</setting>
    <setting id="Enable.WallBanner" type="bool">false</setting>
    <setting id="Disable.AutoComplete" type="bool">false</setting>
    <setting id="SkinHelper.DisableScreenSaverOnFullScreenMusic" type="bool">false</setting>
    <setting id="SF_QL.Label" type="string">Super Favourites</setting>
    <setting id="color.500" type="string"></setting>
    <setting id="LiveTV.Fallback" type="string"></setting>
    <setting id="weatherfanart.path" type="string"></setting>
    <setting id="MusicVideos.Fallback" type="string"></setting>
    <setting id="CustomHomeSlideshow" type="string"></setting>
    <setting id="disabledcolor.name" type="string">ff7c50a4</setting>
    <setting id="Apps.Fallback" type="string"></setting>
    <setting id="dialogcolor.name.name" type="string">98181818</setting>
    <setting id="CustomBackground" type="string"></setting>
    <setting id="TVShows.Fallback" type="string"></setting>
    <setting id="WindowColorThemed" type="string">ff0084ff</setting>
    <setting id="highlightcolor.name.name" type="string">a1e8e8e8</setting>
    <setting id="highlightcolor.name" type="string">a1e8e8e8</setting>
    <setting id="SkinHelper.AutoCloseVideoOSD" type="string"></setting>
    <setting id="MovieGenreFanart.ext" type="string"></setting>
    <setting id="HomeFanart.path" type="string"></setting>
    <setting id="skinshortcuts-widget-1" type="string">Addon</setting>
    <setting id="Movies.Fallback" type="string"></setting>
    <setting id="System.Fallback" type="string"></setting>
    <setting id="backgroundcolor.name" type="string">b0181818</setting>
    <setting id="dialogcolor.name" type="string">98181818</setting>
    <setting id="skinshortcuts-widget-2" type="string">recentchannels</setting>
    <setting id="backgroundcolor.name.name" type="string">b0181818</setting>
    <setting id="SF_QL.IsFolder" type="string">true</setting>
    <setting id="dialogcolor.name.base" type="string">ff181818</setting>
    <setting id="disabledcolor.name.base" type="string">ff7c50a4</setting>
    <setting id="musicvis.background" type="string"></setting>
    <setting id="ItemToEdit.MultiFanart" type="string"></setting>
    <setting id="SkinHelper.StudioLogos.Path" type="string"></setting>
    <setting id="background_overlay" type="string"></setting>
    <setting id="busyloader" type="string">special://skin/extras/spinners/Triplex.png</setting>
    <setting id="SkinHelper.ColorTheme.Night.time" type="string"></setting>
    <setting id="CustomOverlay" type="string"></setting>
    <setting id="highlightcolor.name.base" type="string">ffe8e8e8</setting>
    <setting id="weathericons.path" type="string"></setting>
    <setting id="disabledcolor.name.name" type="string">ff7c50a4</setting>
    <setting id="ItemToEdit.BGType" type="string">1</setting>
    <setting id="Music.Fallback" type="string"></setting>
    <setting id="Videos.Fallback" type="string"></setting>
    <setting id="textcolor.name.base" type="string">ffe8e8e8</setting>
    <setting id="menucolor.name" type="string">ffd1d1d1</setting>
    <setting id="menucolor.name.name" type="string">ffd1d1d1</setting>
    <setting id="menucolor.name.base" type="string">ffd1d1d1</setting>
    <setting id="HomeFanart.ext" type="string"></setting>
    <setting id="Startup_Playlist_Path" type="string"></setting>
    <setting id="textcolor.name.name" type="string">ffe8e8e8</setting>
    <setting id="mainmenu.layout" type="string"></setting>
    <setting id="SF_QL.Label" type="string">Super Favourites</setting>
    <setting id="" type="string">1</setting>
    <setting id="SkinHelper.AutoCloseMusicOSD" type="string"></setting>
    <setting id="SkinHelper.RandomFanartDelay" type="string"></setting>
    <setting id="MovieGenreFanart.path" type="string"></setting>
    <setting id="SkinHelper.ShowInfoAtPlaybackStart" type="string"></setting>
    <setting id="SkinHelper.ColorTheme.Day.time" type="string"></setting>
    <setting id="backgroundcolor.name.base" type="string">ff181818</setting>
    <setting id="textcolor.name" type="string">ffe8e8e8</setting>
    <setting id="skinshortcuts-sharedmenu" type="string">true</setting>
    <setting id="WindowColorMain" type="string">ff000000</setting>
</settings>
