<settings version="2">
    <setting id="always_show_premium">true</setting>
    <setting id="categories_view" default="true">IconWall</setting>
    <setting id="categories_view_custom" default="true">0</setting>
    <setting id="category_view" default="true">Shift</setting>
    <setting id="category_view_custom" default="true">0</setting>
    <setting id="checkdrmcert">true</setting>
    <setting id="clear_cache" default="true"></setting>
    <setting id="configcachedays">5</setting>
    <setting id="debug_mode">true</setting>
    <setting id="debug_requests">true</setting>
    <setting id="del_resume_pos_secs">60</setting>
    <setting id="disable_foldercache">true</setting>
    <setting id="dont_show_watchlist_in_lastseen">true</setting>
    <setting id="dont_verify_ssl_certificates">true</setting>
    <setting id="enable_viewmodes">true</setting>
    <setting id="episode_order">2</setting>
    <setting id="episode_view" default="true">InfoWall</setting>
    <setting id="episode_view_custom" default="true">0</setting>
    <setting id="force_playready">true</setting>
    <setting id="highlight_premium">true</setting>
    <setting id="https_proxy_host" default="true"></setting>
    <setting id="https_proxy_port" default="true">0</setting>
    <setting id="inputstream_adaptive_settings" default="true"></setting>
    <setting id="joyn_platform" default="true">web</setting>
    <setting id="livetv_view" default="true">WideList</setting>
    <setting id="livetv_view_custom" default="true">0</setting>
    <setting id="login" default="true"></setting>
    <setting id="logout" default="true"></setting>
    <setting id="max_lastseen">3</setting>
    <setting id="max_recommendations">3</setting>
    <setting id="mpaa_pin" default="true">0</setting>
    <setting id="save_encrypted_auth_data">true</setting>
    <setting id="season_order">2</setting>
    <setting id="season_view" default="true">Shift</setting>
    <setting id="season_view_custom" default="true">0</setting>
    <setting id="show_categories_in_main_menu">true</setting>
    <setting id="show_episodes_immediately">true</setting>
    <setting id="start_set_resume_pos_secs">300</setting>
    <setting id="tvshow_view" default="true">Shift</setting>
    <setting id="tvshow_view_custom" default="true">0</setting>
    <setting id="uepg_settings" default="true"></setting>
    <setting id="use_https_proxy">true</setting>
    <setting id="watchlist_view" default="true">Shift</setting>
    <setting id="watchlist_view_custom" default="true">0</setting>
</settings>
