<settings version="2">
    <setting id="_fresh">false</setting>
    <setting id="_userdata" default="true">{}</setting>
    <setting id="bookmarks">true</setting>
    <setting id="chunksize" default="true">4096</setting>
    <setting id="default_quality">1</setting>
    <setting id="epg_days">3</setting>
    <setting id="http_retries" default="true">2</setting>
    <setting id="http_timeout" default="true">30</setting>
    <setting id="kiosk" default="true">false</setting>
    <setting id="max_bandwidth">7</setting>
    <setting id="region" default="true">4</setting>
    <setting id="region_ip" default="true">0.0.0.0</setting>
    <setting id="service_delay" default="true">0</setting>
    <setting id="show_adverts" default="true">false</setting>
    <setting id="show_chno">true</setting>
    <setting id="show_countries">true</setting>
    <setting id="show_epg" default="true">true</setting>
    <setting id="show_groups">true</setting>
    <setting id="show_mini_epg" default="true">true</setting>
    <setting id="show_series_folders" default="true">true</setting>
    <setting id="use_ia_hls_live">false</setting>
    <setting id="use_ia_hls_vod" default="true">false</setting>
    <setting id="use_url_alt">true</setting>
    <setting id="verify_ssl" default="true">true</setting>
</settings>
