<settings> 
  <category>
    <setting default="0" id="locale" label="Text Sprache" type="enum" values="Deutsch|Englisch" />
    <setting default="1" id="language" label="Media Sprache" type="enum" values="Alle|Deutsch|Englisch" />
    <setting default="0" id="resolution" label="Nur Titel mit dieser Videoauflösung anzeigen" type="enum" values="Alle|HD|SD" />
    <setting default="0" id="playback_resolution" label="Maximale Videoauflösung" type="enum" values="Höchste|1080p|720p|480p|360p|Manuell" />
    <!--<setting default="0" id="stream_select" label="Stream Auswahl" type="enum" values="Automatisch|Gruppiert|Nach Hoster" />-->
    <setting default="0" id="stream_select" label="Stream Auswahl" type="enum" values="Hoster|Automatisch|Gruppiert" />
    <setting default="true" id="auto_try_next_stream" type="bool" subsetting="true" visible="eq(-1,0)" label="Automatisch nächsten ähnlichen Stream versuchen"/>
  </category>
  <category label="Downloads">
    <setting default="true" id="dldb_active" label="Downloads aktiv" type="bool" />
    <setting default="3" id="dldb_max_simultan_downloads" label="Maximale gleichzeitige Downloads" type="number" />
    <setting default="" id="dldb_path" label="Pfad der Offline-Bibliothek" type="folder" option="writeable" />
  </category>
  <!--
  <category label="Frei">
    <setting type="bool" id="hoster_allmyvideos.net" label="allmyvideos.net" shortlabel="AM" default="true"/>
    <setting type="bool" id="hoster_auroravid.to" label="auroravid.to" shortlabel="AV" default="true"/>
    <setting type="bool" id="hoster_bitshare.com" label="bitshare.com" shortlabel="BS" default="true"/>
    <setting type="bool" id="hoster_bitvid.sx" label="bitvid.sx" shortlabel="BV" default="true"/>
    <setting type="bool" id="hoster_clipboard.cc" label="clipboard.cc" shortlabel="CB" default="true"/>
    <setting type="bool" id="hoster_cloudtime.to" label="cloudtime.to" shortlabel="CT" default="false"/> broken
    <setting type="bool" id="hoster_cloudzilla.to" label="cloudzilla.to" shortlabel="CZ" default="true"/>
    <setting type="bool" id="hoster_crocko.com" label="crocko.com" shortlabel="CR" default="true"/>
    <setting type="bool" id="hoster_divxstage.net" label="divxstage.net" shortlabel="DS" default="true"/>
    <setting type="bool" id="hoster_flashx.tv" label="flashx.tv" shortlabel="FX" default="false"/>
    <setting type="bool" id="hoster_gomovies.to" label="gomovies.to" shortlabel="GM" default="true"/>
    <setting type="bool" id="hoster_bitporno.com" label="bitporno.com" shortlabel="BP" default="true"/>
    <setting type="bool" id="hoster_kinoger.com" label="kinoger.com" shortlabel="KG" default="true"/>
    <setting type="bool" id="hoster_hdfilme.tv" label="hdfilme.tv" shortlabel="HF" default="false"/>
    <setting type="bool" id="hoster_letwatch.to" label="letwatch.to" shortlabel="LW" default="true"/> broken
    <setting type="bool" id="hoster_meinkino.to" label="meinkino.to" shortlabel="MK" default="false"/>
    <setting type="bool" id="hoster_movyo.to" label="movyo.to" shortlabel="MY" default="true"/>
    <setting type="bool" id="hoster_neodrive.co" label="neodrive.co" shortlabel="ND" default="true"/>
    <setting type="bool" id="hoster_nowvideo.sx" label="nowvideo.sx" shortlabel="NV" default="false"/>
    <setting type="bool" id="hoster_newcloud.tv" label="newcloud.tv" shortlabel="..." default="false"/>
    <setting type="bool" id="hoster_flix555.com" label="flix555.com" shortlabel="..." default="false"/>
    <setting type="bool" id="hoster_streamcloud.eu" label="streamcloud.eu" shortlabel="..." default="false"/>
    <setting type="bool" id="hoster_powerwatch.pw" label="powerwatch.pw" shortlabel="PW" default="true"/>
    <setting type="bool" id="hoster_primeshare.tv" label="primeshare.tv" shortlabel="PS" default="true"/> broken
    <setting type="bool" id="hoster_promptfile.com" label="promptfile.com" shortlabel="PF" default="true"/>
    <setting type="bool" id="hoster_rapidvideo.com" label="rapidvideo.com" shortlabel="RP" default="true"/>
    <setting type="bool" id="hoster_raptu.com" label="raptu.com" shortlabel="RT" default="true"/>
    <setting type="bool" id="hoster_realvid.net" label="realvid.net" shortlabel="RV" default="true"/>
    <setting type="bool" id="hoster_stagevu.me" label="stagevu.me" shortlabel="SV" default="true"/>
    <setting type="bool" id="hoster_streamin.to" label="streamin.to" shortlabel="SI" default="true"/>
    <setting type="bool" id="hoster_streamango.com" label="streamango.com" shortlabel="RAPIDGATOR" default="true"/>
    <setting type="bool" id="hoster_streamcherry.com" label="streamcherry.com" shortlabel="SH" default="true"/>
    <setting type="bool" id="hoster_streamcloud.eu" label="streamcloud.eu" shortlabel="SC" default="true"/>
    <setting type="bool" id="hoster_tata.to" label="tata.to" shortlabel="TA" default="false"/>
    <setting type="bool" id="hoster_videoweed.es" label="videoweed.es" shortlabel="VW" default="true"/>
    <setting type="bool" id="hoster_vidlox.tv" label="vidlox.tv" shortlabel="VL" default="true"/>
    <setting type="bool" id="hoster_vidto.me" label="vidto.me" shortlabel="VT" default="true"/>
    <setting type="bool" id="hoster_vidzi.tv" label="vidzi.tv" shortlabel="VZ" default="true"/>
    <setting type="bool" id="hoster_vivo.sx" label="vivo.sx" shortlabel="VI" default="true"/>
    <setting type="bool" id="hoster_wholecloud.net" label="wholecloud.net" shortlabel="WC" default="true"/> broken
    <setting type="bool" id="hoster_xvidstage.com" label="xvidstage.com" shortlabel="XS" default="true"/>
    <setting type="bool" id="hoster_youtube.com" label="youtube.com" shortlabel="YT" default="true"/>
    <setting type="bool" id="hoster_youwatch.org" label="youwatch.org" shortlabel="YW" default="true"/>
  </category>
  <category label="Pairing">
    <setting type="bool" id="hoster_openload.co" label="openload.co" shortlabel="SHARE-ONLINE" default="true"/>
    <setting type="bool" id="hoster_thevideo.me" label="thevideo.me" shortlabel="TV" default="false"/>
  </category>
  <category label="Premium">
    <setting type="bool" id="hoster_1fichier.com" label="1fichier.com" shortlabel="1F" default="true"/>
    <setting type="bool" id="hoster_depositfiles.com" label="depositfiles.com" shortlabel="DF" default="true"/>
    <setting type="bool" id="hoster_oboom.com" label="oboom.com" shortlabel="OB" default="true"/>
    <setting type="bool" id="hoster_rapidgator.net" label="rapidgator.net" shortlabel="RG" default="true"/>
    <setting type="bool" id="hoster_rockfile.eu" label="rockfile.eu" shortlabel="RF" default="true"/>
    <setting type="bool" id="hoster_share-online.biz" label="share-online.biz" shortlabel="SO" default="false"/>
    <setting type="bool" id="hoster_uploaded.net" label="uploaded.net" shortlabel="UL" default="true"/>
    <setting type="bool" id="hoster_uploadrocket.net" label="uploadrocket.net" shortlabel="UR" default="true"/>
    <setting type="bool" id="hoster_uptobox.com" label="uptobox.com" shortlabel="UB" default="true"/>
  </category>
  -->
</settings>
