<settings version="2">
    <setting id="githubUpdateXstream">true</setting>
    <setting id="xstream.branch">nightly</setting>
    <setting id="githubUpdateResolver">true</setting>
    <setting id="resolver.branch">nightly</setting>
    <setting id="enforceUpdate" default="true">false</setting>
    <setting id="newSetting" default="true">true</setting>
    <setting id="update.notification">simple</setting>
    <setting id="popup.update.notification" default="true">true</setting>
    <setting id="GlobalSearchPosition" default="true">true</setting>
    <setting id="SettingsFolder" default="true">true</setting>
    <setting id="replacefanart">false</setting>
    <setting id="prefLanguage" default="true">0</setting>
    <setting id="preferedQuality" default="true">5</setting>
    <setting id="showAdult" default="true">false</setting>
    <setting id="hosterSelect">Dialog</setting>
    <setting id="maxHoster" default="true">100</setting>
    <setting id="presortHoster" default="true">false</setting>
    <setting id="blockedHoster" default="true" />
    <setting id="cacheTime">0</setting>
    <setting id="requestTimeout" default="true">10</setting>
    <setting id="plugin_aniworld" default="true">true</setting>
    <setting id="global_search_aniworld" default="true">true</setting>
    <setting id="plugin_dokus4" default="true">true</setting>
    <setting id="global_search_dokus4" default="true">false</setting>
    <setting id="plugin_filmpalast_to" default="true">true</setting>
    <setting id="global_search_filmpalast_to" default="true">true</setting>
    <setting id="plugin_flimmerstube" default="true">true</setting>
    <setting id="global_search_flimmerstube" default="true">false</setting>
    <setting id="plugin_hdfilme_top" default="true">true</setting>
    <setting id="global_search_hdfilme_top" default="true">true</setting>
    <setting id="plugin_kinofox" default="true">true</setting>
    <setting id="global_search_kinofox" default="true">true</setting>
    <setting id="plugin_kinoger" default="true">true</setting>
    <setting id="global_search_kinoger" default="true">true</setting>
    <setting id="kinoger-domain" default="true">kinoger.com</setting>
    <setting id="plugin_kinokiste_tech" default="true">true</setting>
    <setting id="global_search_kinokiste_tech" default="true">true</setting>
    <setting id="plugin_kinomax" default="true">true</setting>
    <setting id="global_search_kinomax" default="true">true</setting>
    <setting id="plugin_kinox_to" default="true">true</setting>
    <setting id="global_search_kinox_to" default="true">true</setting>
    <setting id="plugin_kkiste" default="true">true</setting>
    <setting id="global_search_kkiste" default="true">true</setting>
    <setting id="plugin_megakino" default="true">true</setting>
    <setting id="global_search_megakino" default="true">true</setting>
    <setting id="plugin_movie4k_click" default="true">true</setting>
    <setting id="global_search_movie4k_click" default="true">true</setting>
    <setting id="plugin_movieking" default="true">true</setting>
    <setting id="global_search_movieking" default="true">true</setting>
    <setting id="plugin_netzkino" default="true">true</setting>
    <setting id="global_search_netzkino">true</setting>
    <setting id="plugin_serienstream_to" default="true">true</setting>
    <setting id="global_search_serienstream_to" default="true">true</setting>
    <setting id="serienstream_to-domain">190.115.18.20</setting>
    <setting id="plugin_streamworld" default="true">true</setting>
    <setting id="global_search_streamworld" default="true">true</setting>
    <setting id="plugin_xcine_top" default="true">true</setting>
    <setting id="global_search_xcine_top" default="true">true</setting>
    <setting id="TMDBMETA" default="true">false</setting>
    <setting id="metaOverwrite" default="true">true</setting>
    <setting id="advanced" default="true">false</setting>
    <setting id="poster_tmdb" default="true">w342</setting>
    <setting id="backdrop_tmdb" default="true">w1280</setting>
    <setting id="tmdb_lang" default="true">de</setting>
    <setting id="Color">lightcyan</setting>
    <setting id="auto-view" default="true">false</setting>
    <setting id="files-view" default="true">55</setting>
    <setting id="movies-view" default="true">503</setting>
    <setting id="tvshows-view" default="true">503</setting>
    <setting id="seasons-view" default="true">504</setting>
    <setting id="episodes-view" default="true">504</setting>
    <setting id="download-folder" default="true" />
    <setting id="backgrounddownload" default="true">false</setting>
    <setting id="jd_enabled" default="true">false</setting>
    <setting id="jd_host" default="true">127.0.0.1</setting>
    <setting id="jd_port" default="true">10025</setting>
    <setting id="jd2_enabled" default="true">false</setting>
    <setting id="jd2_host" default="true">127.0.0.1</setting>
    <setting id="jd2_port" default="true">9666</setting>
    <setting id="myjd_enabled" default="true">false</setting>
    <setting id="myjd_device" default="true">JDownloader@Device</setting>
    <setting id="myjd_user" default="true">example@example.com</setting>
    <setting id="myjd_pass" default="true" />
    <setting id="pyload_enabled" default="true">false</setting>
    <setting id="pyload_host" default="true">127.0.0.1</setting>
    <setting id="pyload_port" default="true">8000</setting>
    <setting id="pyload_user" default="true">user</setting>
    <setting id="pyload_passwd" default="true" />
    <setting id="aniworld.user" default="true" />
    <setting id="aniworld.pass" default="true" />
    <setting id="flimmerstube.user" default="true" />
    <setting id="flimmerstube.pass" default="true" />
    <setting id="serienstream.user"></setting>
    <setting id="serienstream.pass"></setting>
    <setting id="DevUpdateAuto" default="true">true</setting>
    <setting id="anicloud.pass" default="true" />
    <setting id="anicloud.user" default="true" />
    <setting id="changelog_version" default="true">4.0.3~nightly8</setting>
    <setting id="githubUpdateUrlResolver" default="true">true</setting>
    <setting id="global_search_alleserien_com" default="true">true</setting>
    <setting id="global_search_anicloud_io" default="true">true</setting>
    <setting id="global_search_hd-streams" default="true">true</setting>
    <setting id="global_search_hd-streams_org" default="true">true</setting>
    <setting id="global_search_hdfilme" default="true">false</setting>
    <setting id="global_search_kinoag" default="true">true</setting>
    <setting id="global_search_kinobz" default="true">false</setting>
    <setting id="global_search_kinokiste" default="true">false</setting>
    <setting id="global_search_movie4k_space" default="true">true</setting>
    <setting id="global_search_movietown_org" default="true">true</setting>
    <setting id="global_search_pureanime" default="true">false</setting>
    <setting id="global_search_xcine" default="true">false</setting>
    <setting id="hdfilme-domain" default="true">https://hdfilme.hair/</setting>
    <setting id="jd_automatic_start" default="true">true</setting>
    <setting id="jd_grabber" default="true">false</setting>
    <setting id="kinomax-domain" default="true">https://kinomax.rocks/</setting>
    <setting id="kinox_to-domain" default="true">www12.kinoz.to</setting>
    <setting id="kkiste-domain">https://kkiste.hair/</setting>
    <setting id="kkisteurl" default="true">https://kkiste.rocks/</setting>
    <setting id="label0" default="true" />
    <setting id="label1" default="true" />
    <setting id="label2" default="true" />
    <setting id="plugin_alleserien_com" default="true">true</setting>
    <setting id="plugin_anicloud_io" default="true">true</setting>
    <setting id="plugin_hd-streams" default="true">true</setting>
    <setting id="plugin_hd-streams_org" default="true">true</setting>
    <setting id="plugin_hdfilme" default="true">false</setting>
    <setting id="plugin_kinoag" default="true">true</setting>
    <setting id="plugin_kinobz" default="true">true</setting>
    <setting id="plugin_kinokiste" default="true">true</setting>
    <setting id="plugin_movie4k_space" default="true">true</setting>
    <setting id="plugin_movietown_org" default="true">true</setting>
    <setting id="plugin_pureanime" default="true">true</setting>
    <setting id="plugin_xcine" default="true">true</setting>
    <setting id="pureanime.pass" default="true" />
    <setting id="pureanime.user" default="true" />
    <setting id="seriendomain" default="true">https://serien.click</setting>
    <setting id="update.token" default="true">Z2hwX1VHUnEzQUh4T29JQUhHVGtlYWdUb0JYYmc3NXFaWTNSbXZEYQ==</setting>
</settings>
Q==</setting>
</settings>
