<settings version="2">
    <setting id="_fresh">false</setting>
    <setting id="_userdata">{&quot;merge_regions&quot;:[&quot;all&quot;]}</setting>
    <setting id="bookmarks" default="true">false</setting>
    <setting id="default_quality" default="true">0</setting>
    <setting id="epg_days">3</setting>
    <setting id="max_bandwidth">7</setting>
    <setting id="service_delay" default="true">0</setting>
    <setting id="show_chno">true</setting>
    <setting id="show_countries">true</setting>
    <setting id="show_epg">true</setting>
    <setting id="show_groups">true</setting>
    <setting id="use_ia_hls_live">true</setting>
    <setting id="use_ia_hls_vod" default="true">false</setting>
</settings>
