<settings version="2">
    <setting id="Ah-Me">true</setting>
    <setting id="Analdin">true</setting>
    <setting id="AShemaleTube">true</setting>
    <setting id="BitPorno">true</setting>
    <setting id="CelebsNude">true</setting>
    <setting id="ClipHunter">true</setting>
    <setting id="DesiHDx">true</setting>
    <setting id="DesiVdo">true</setting>
    <setting id="DesiXNXX">true</setting>
    <setting id="DoodhWali">true</setting>
    <setting id="download" default="true">false</setting>
    <setting id="download_ask" default="true">false</setting>
    <setting id="download_path" default="true"></setting>
    <setting id="Empflix">true</setting>
    <setting id="enable_debug" default="true">false</setting>
    <setting id="EPORNER">true</setting>
    <setting id="ExtremeTube">true</setting>
    <setting id="GirlfriendVideos">true</setting>
    <setting id="Hentaigasm">true</setting>
    <setting id="hide_warning" default="true">false</setting>
    <setting id="HQporner">true</setting>
    <setting id="IndianMasala">true</setting>
    <setting id="IndianSexMovies">true</setting>
    <setting id="KamaBaba">true</setting>
    <setting id="KissJAV">true</setting>
    <setting id="Motherless">true</setting>
    <setting id="MovieFap">true</setting>
    <setting id="PerfectGirls">true</setting>
    <setting id="PlusOne8">true</setting>
    <setting id="Porn.com">true</setting>
    <setting id="Porn300">true</setting>
    <setting id="Pornburst.xxx">true</setting>
    <setting id="PornDoe">true</setting>
    <setting id="Pornhd">true</setting>
    <setting id="Pornhub">true</setting>
    <setting id="Pornmaki">true</setting>
    <setting id="PornoMovies">true</setting>
    <setting id="PornOne">true</setting>
    <setting id="PornoXO">true</setting>
    <setting id="Porntrex">true</setting>
    <setting id="RedTube">true</setting>
    <setting id="Sexu">true</setting>
    <setting id="SmutIndia">true</setting>
    <setting id="SpankBang">true</setting>
    <setting id="Spankingtube">true</setting>
    <setting id="StileProject">true</setting>
    <setting id="SunPorno">true</setting>
    <setting id="Thumbzilla">true</setting>
    <setting id="TnAflix">true</setting>
    <setting id="TrannyOne">true</setting>
    <setting id="Tukif">true</setting>
    <setting id="video_type" default="true">0</setting>
    <setting id="xHamster">true</setting>
    <setting id="XRUniversity">true</setting>
    <setting id="XVideos">true</setting>
    <setting id="XXXTubeDesi">true</setting>
    <setting id="YouPorn">true</setting>
    <setting id="yuvutu">true</setting>
</settings>
