<settings version="2">
    <setting id="acc_token" default="true"></setting>
    <setting id="email" default="true"></setting>
    <setting id="hd_enabled">true</setting>
    <setting id="is_helper_enabled">true</setting>
    <setting id="liveFree" default="true">false</setting>
    <setting id="livePay" default="true">false</setting>
    <setting id="password_enc" default="true"></setting>
    <setting id="patch_manifest">true</setting>
    <setting id="plot_enabled">true</setting>
    <setting id="premium" default="true">false</setting>
    <setting id="set_login" default="true"></setting>
</settings>
