<settings version="2">
    <setting id="_fresh">false</setting>
    <setting id="_userdata" default="true">{}</setting>
    <setting id="audio_description">true</setting>
    <setting id="audio_whitelist" default="true"></setting>
    <setting id="bookmarks">true</setting>
    <setting id="chunksize">4096</setting>
    <setting id="default_quality">1</setting>
    <setting id="disney_sync">true</setting>
    <setting id="disney_watchlist">true</setting>
    <setting id="dolby_atmos" default="true">false</setting>
    <setting id="dolby_vision" default="true">false</setting>
    <setting id="h265">true</setting>
    <setting id="hdr10">true</setting>
    <setting id="http_retries">2</setting>
    <setting id="http_timeout">30</setting>
    <setting id="kid_lockdown" default="true">false</setting>
    <setting id="kiosk" default="true">false</setting>
    <setting id="max_bandwidth">7</setting>
    <setting id="play_next_episode">true</setting>
    <setting id="play_next_movie" default="true">false</setting>
    <setting id="service_delay" default="true">0</setting>
    <setting id="show_series_folders">true</setting>
    <setting id="skip_credits">true</setting>
    <setting id="skip_intros" default="true">false</setting>
    <setting id="subs_forced">true</setting>
    <setting id="subs_non_forced">true</setting>
    <setting id="subs_whitelist" default="true"></setting>
    <setting id="use_ia_hls_live" default="true">false</setting>
    <setting id="use_ia_hls_vod" default="true">false</setting>
    <setting id="verify_ssl">true</setting>
    <setting id="video_folder_content">true</setting>
    <setting id="wv_secure" default="true">false</setting>
</settings>
