<settings version="2">
    <setting id="easynews.pass" default="true" />
    <setting id="easynews.title.chk">true</setting>
    <setting id="easynews.user" default="true" />
    <setting id="filepursuit.api" default="true" />
    <setting id="filepursuit.text" default="true" />
    <setting id="install.orion" default="true" />
    <setting id="orion.extra.info">true</setting>
    <setting id="orion.info.filename" default="true">false</setting>
    <setting id="orionoid.streamtype" default="true">0</setting>
    <setting id="ororo.pass" default="true" />
    <setting id="ororo.user" default="true" />
    <setting id="package.folder" default="true">homelanderscrapers</setting>
    <setting id="provider.123movies">true</setting>
    <setting id="provider.1337x">true</setting>
    <setting id="provider.300mbfilms">true</setting>
    <setting id="provider.allmoviesforyou">true</setting>
    <setting id="provider.anymovies">true</setting>
    <setting id="provider.apimdb">true</setting>
    <setting id="provider.bitlord">true</setting>
    <setting id="provider.bnwmovies">true</setting>
    <setting id="provider.bt4g">true</setting>
    <setting id="provider.cmovieshd">true</setting>
    <setting id="provider.databasegdriveplayer">true</setting>
    <setting id="provider.dbgo">true</setting>
    <setting id="provider.easynews" default="true">false</setting>
    <setting id="provider.eztv">true</setting>
    <setting id="provider.fast32">true</setting>
    <setting id="provider.filepursuit" default="true">false</setting>
    <setting id="provider.filmxy">true</setting>
    <setting id="provider.fsapi">true</setting>
    <setting id="provider.furk" default="true">false</setting>
    <setting id="provider.gamato-movies">true</setting>
    <setting id="provider.glodls">true</setting>
    <setting id="provider.gowatchseries">true</setting>
    <setting id="provider.ibit">true</setting>
    <setting id="provider.iwaatch">true</setting>
    <setting id="provider.kickass2">true</setting>
    <setting id="provider.limetorrents">true</setting>
    <setting id="provider.magnetdl">true</setting>
    <setting id="provider.maxrls">true</setting>
    <setting id="provider.myvideolink">true</setting>
    <setting id="provider.nyaa">true</setting>
    <setting id="provider.orionoid" default="true">false</setting>
    <setting id="provider.orionoid.settings" default="true" />
    <setting id="provider.ororo" default="true">false</setting>
    <setting id="provider.piratebay">true</setting>
    <setting id="provider.plockers">true</setting>
    <setting id="provider.putlockersnet">true</setting>
    <setting id="provider.rapidmoviez">true</setting>
    <setting id="provider.rlsbb">true</setting>
    <setting id="provider.streamlord">true</setting>
    <setting id="provider.telepisodes">true</setting>
    <setting id="provider.tenies-online" default="true">false</setting>
    <setting id="provider.tordl">true</setting>
    <setting id="provider.torrentapi">true</setting>
    <setting id="provider.torrentdownloads">true</setting>
    <setting id="provider.torrentfunk">true</setting>
    <setting id="provider.torrentgalaxy">true</setting>
    <setting id="provider.tunemovie">true</setting>
    <setting id="provider.watchseriess">true</setting>
    <setting id="provider.xrysoi">true</setting>
    <setting id="provider.yesmovies">true</setting>
    <setting id="provider.yourbt">true</setting>
    <setting id="provider.yts">true</setting>
    <setting id="url.123movies" default="true" />
    <setting id="url.1337x" default="true" />
    <setting id="url.300mbfilms" default="true" />
    <setting id="url.allmoviesforyou" default="true" />
    <setting id="url.anymovies" default="true" />
    <setting id="url.apimdb" default="true" />
    <setting id="url.bitlord" default="true" />
    <setting id="url.bnwmovies" default="true" />
    <setting id="url.bt4g" default="true" />
    <setting id="url.cmovieshd" default="true" />
    <setting id="url.databasegdriveplayer" default="true" />
    <setting id="url.dbgo" default="true" />
    <setting id="url.eztv" default="true" />
    <setting id="url.fast32" default="true" />
    <setting id="url.filmxy" default="true" />
    <setting id="url.fsapi" default="true" />
    <setting id="url.gamato-movies" default="true" />
    <setting id="url.glodls" default="true" />
    <setting id="url.gowatchseries" default="true" />
    <setting id="url.ibit" default="true" />
    <setting id="url.iwaatch" default="true" />
    <setting id="url.kickass2" default="true" />
    <setting id="url.limetorrents" default="true" />
    <setting id="url.magnetdl" default="true" />
    <setting id="url.maxrls" default="true" />
    <setting id="url.myvideolink" default="true" />
    <setting id="url.nyaa" default="true" />
    <setting id="url.piratebay" default="true" />
    <setting id="url.plockers" default="true" />
    <setting id="url.putlockersnet" default="true" />
    <setting id="url.rapidmoviez" default="true" />
    <setting id="url.rlsbb" default="true" />
    <setting id="url.streamlord" default="true" />
    <setting id="url.telepisodes" default="true" />
    <setting id="url.tenies-online" default="true" />
    <setting id="url.tordl" default="true" />
    <setting id="url.torrentdownloads" default="true" />
    <setting id="url.torrentfunk" default="true" />
    <setting id="url.torrentgalaxy" default="true" />
    <setting id="url.tunemovie" default="true" />
    <setting id="url.watchseriess" default="true" />
    <setting id="url.xrysoi" default="true" />
    <setting id="url.yesmovies" default="true" />
    <setting id="url.yourbt" default="true" />
    <setting id="url.yts" default="true" />
    <setting id="write.settings">ok</setting>
</settings>