<settings version="2">
    <setting id="answer" default="true">jughead</setting>
    <setting id="cache_key_local">3162</setting>
    <setting id="dbua">Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/119.0.6045.66 Safari/537.36</setting>
    <setting id="dbxu">_ga=GA1.2.1721891235.1699531462; _gid=GA1.2.1416328797.1699531462; isTrustedUser=true; _gat=1; dbxu=1699532383983; _ga_W8P54ZHY4B=GS1.2.1699531463.1.1.1699532384.0.0.0</setting>
    <setting id="dtua">Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/117.0.0.0 Safari/537.36</setting>
    <setting id="dtys">PHPSESSID=ja13bb2upf6s2f1ngn7i1hsqvv; _gid=GA1.2.1297752231.1699523315; watchstats=%5B%2254655%22%2C%2254656%22%2C%2254657%22%2C%2254658%22%5D; _gat=1; _gat_gtag_UA_123530620_1=1; dtys=1699530355789; _ga_JSDLR44ZJD=GS1.1.1699530230.3.1.1699530356.27.0.0; _ga=GA1.1.234287605.1699523315</setting>
    <setting id="dzpck">PHPSESSID=4ed7nis1sl41ogp2k251cu4sou; _gid=GA1.2.1439983508.1699531738; _gat=1; _gat_gtag_UA_138535615_1=1; _ga_QC0G036LJ3=GS1.1.1699531738.1.1.1699532123.0.0.0; _ga=GA1.1.843445894.1699531738</setting>
    <setting id="dzpua">Mozilla/5.0 (Linux; Android 12; MIBOX4 Build/STTC.230106.001; wv) AppleWebKit/537.36 (KHTML, like Gecko) Version/4.0 Chrome/118.0.0.0 Mobile Safari/537.36</setting>
    <setting id="e_mail" default="true">crsmohftm@gmail.com</setting>
    <setting id="e_mail_1" default="true"></setting>
    <setting id="e_mail_2" default="true"></setting>
    <setting id="epg_day">20231219</setting>
    <setting id="epg_now">20</setting>
    <setting id="flmizl" default="true"></setting>
    <setting id="flmizlua" default="true"></setting>
    <setting id="gecici_isim">[COLOR orange][B][COLOR blue] [/COLOR]Evde Tek Başına [/B][/COLOR]</setting>
    <setting id="GUA">Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/110.0.0.0 Safari/537.36 Edg/110.0.1587.63</setting>
    <setting id="isAdult" default="true">Rabbit</setting>
    <setting id="isAdultkey" default="true">0907</setting>
    <setting id="key" default="true">bety</setting>
    <setting id="m3u" default="true"></setting>
    <setting id="mac_add" default="true">D6:01:96:73:D5:59</setting>
    <setting id="mail" default="true">alicoix</setting>
    <setting id="message">59</setting>
    <setting id="prov" default="true"></setting>
    <setting id="recorded_date">19-12-2023</setting>
    <setting id="root">http://beytepe.tk/sey/back/</setting>
    <setting id="sifre" default="true">123q321qw</setting>
    <setting id="sinefyck">PHPSESSID=9drdajfpsfnaeg0f2b1ond9geg; _ga=GA1.1.1314361084.1699447686; _ga_T5STP9SMLX=GS1.1.1699532258.3.0.1699532258.0.0.0</setting>
    <setting id="sinefyua">Mozilla/5.0 (Linux; Android 11; TVPLUS BOX Build/RTT0.210829.002; wv) AppleWebKit/537.36 (KHTML, like Gecko) Version/4.0 Chrome/118.0.0.0 Mobile Safari/537.36</setting>
    <setting id="surum_kontrol" default="true">3.66.4</setting>
    <setting id="temp_watched" default="true">mids</setting>
    <setting id="u_message">20231219123018</setting>
    <setting id="uclugorunum">true</setting>
    <setting id="udys">ci_session=854n83jvossp9dug1sep5ffrnattnssn; level=1; watched_72570=1; udys=1699531991396; _ga_53GGW5VVJQ=GS1.1.1699531992.1.0.1699531992.0.0.0; _ga=GA1.2.1197282351.1699531992; _gid=GA1.2.1603560268.1699531992; _gat_gtag_UA_274501025_1=1</setting>
    <setting id="user_id" default="true">315523</setting>
    <setting id="uzakdogu">true</setting>
    <setting id="vidid">1</setting>
    <setting id="yb_dzck">PHPSESSID=1meltg1av4uvgktf2327b2muqb; _gid=GA1.2.2001475488.1699531692; _ga_SRQNFKK7GW=GS1.1.1699531691.1.1.1699532273.0.0.0; _ga_93S7FWTWS1=GS1.1.1699531691.1.1.1699532274.0.0.0; _ga=GA1.2.345774544.1699531691; _gat_gtag_UA_237009650_1=1</setting>
    <setting id="yb_dzua">Mozilla/5.0 (Linux; Android 12; MIBOX4 Build/STTC.230106.001; wv) AppleWebKit/537.36 (KHTML, like Gecko) Version/4.0 Chrome/118.0.0.0 Mobile Safari/537.36</setting>
    <setting id="ybua">Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/118.0.0.0 Safari/537.36</setting>
</settings>
